.container 
     link(rel="stylesheet", type="text/css", href="/css/daohang.css") 
     #loaction
      ul 
       li 
        a(href="/index") 
       li 
        a(href="/gushi") 
       li 
        a(href="/yule") 
       li 
        a(href="/jingdian") 
       li 
        a(href="/liuyan") 
       li 
        a(href="/fangzhang") 
       li.denglu 
        a(href="/signin") 
       li.zhuce 
        a(href="/signup") 
      script(src="/js/daohang.js")

        