meta(name="viewport", content="width=device-width, initial-scale=1")
script(src="/libs/jquery/dist/jquery.min.js")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/css/style.css",rel="stylesheet")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
 //- link(rel="stylesheet", type="text/css", href="/css/default.css")
 //- link(href="/css/offcanvas.min.css", rel="stylesheet", type="text/css")