@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";background:#ccc;}

/* menu */
ul.menu{width:540px;height:130px;overflow:hidden;margin:0 auto 0 auto;position:relative;}
ul.menu li{float:left;width:39px;margin-right:50px;}
ul.menu li a{text-decoration:none;width:39px;color:#333333;float:left;margin-right:50px;}
ul.menu li a img{margin-top:15px;}
ul.menu li span{width:39px;height:122px;background-size:100%;background-repeat:no-repeat;background-color:transparent;position:absolute;z-index:-1;top:182px;cursor:pointer;left:0px;}
ul.menu li span.ipod_1{background-image:url(../img/gufeng.png);left:0;/*128/2 - 32(half of fengn) +1 of border*/}
ul.menu li span.ipod_2{background-image:url(../img/gufeng.png);left:89px;/* plus 1feng+ 2px of border*/}
ul.menu li span.ipod_3{background-image:url(../img/gufeng.png);left:178px;}
ul.menu li span.ipod_4{background-image:url(../img/gufeng.png);left:266px;}
ul.menu li span.ipod_5{background-image:url(../img/gufeng.png);left:356px;}
ul.menu li span.ipod_6{background-image:url(../img/gufeng.png);left:446px;}
img {width:38px;height:87px;opacity: .8;}
#loaction {z-index:9999;position: fixed;left: 50%;width: 110px;height: 477px;margin-left: 510px;bottom: 30px;}
#loaction ul {background: url(../img/gun.png) no-repeat;width: 110px;padding: 40px 0 0 0;height: 447px;}
#loaction ul li  {width:110px ;height: 40px;}
#loaction ul li a {display:block;width:110px ;height: 40px;}
div#banner2 {width:100%;height:556px;background:url("../img/li1.jpg") no-repeat top center;}
div#xian1 {width:100%;height:614px;position:relative;background:url("../img/li2.jpg") no-repeat top center;}
div#xian2 {width:100%;height:542px;position:relative;background:url("../img/li3.jpg") no-repeat top center;}
div#xian3 {width:100%;height:536px;position:relative;background:url("../img/li4.jpg") no-repeat top center;}
div#xian3w {width:100%;height:535px;position:relative;background:url("../img/li5.jpg") no-repeat top center;}
div#xian4 {width:100%;height:623px;position:relative;background:url("../img/li6.jpg") no-repeat top center;}
div#xian5 {width:100%;height:545px;position:relative;background:url("../img/li7.jpg") no-repeat top center;}
div#xian5q {width:100%;height:573px;position:relative;background:url("../img/li8.jpg") no-repeat top center;}
div#xian6 {width:100%;height:573px;position:relative;background:url("../img/li9.jpg") no-repeat top center;}
#loaction ul li a:hover {background:url(../img/26.png);opacity: .6;}
.left1 {position: absolute; left: 195px;bottom:173px;}
span {color:white;font: 26px/36px "楷体";}
.right1 {position: absolute; left:35%;top:30px;color:red;}
.right1 p {width:550px;color:white;}
.left2 {position: absolute; right:190px;bottom:120px;}
.left3 {position: absolute; left: 195px;bottom:100px;}
.left3 {position: absolute; left: 195px;bottom:100px;}
.left4 {position: absolute; left: 195px;bottom:200px;}
.right2 {position:absolute;left: 13%;top:10%;color:green;}
.right2 p {width:550px;color:black;}
.right2 span {color: #345;}
div#danshi { height: 600px; color:black;text-align: center;padding-top: 10px;}
div#danshi small {color:black;}
div#danshi h1 {padding-top: 20px;}
div#danshi p {font-size: 20px/30px "宋体";text-align: left;padding:0 15px;line-height: 30px;}