@charset "utf-8";
body {
	height:  888px;
}
h4 {
	text-align: center;
	line-height: center;
}
.col-md-2 {
	height: 260px;
	overflow:  hidden;
}
.col-md-2 .thumbnail img{
	height:  140px;
	width: 200px;
}
a {
	color: rgba(6,6,6,6);
	text-decoration:  none!important;
	text-align: center;
}/* #9D9E1F */
.btn {
	margin-left: 20px;
}
.panel-heading {
	background: url("../img/cj_6d.jpg");
}
.navbar-right {
	position: absolute;
	top: 0;
	right: 30px;


} 
/* .navbar-right:hover {
	background: #043947;
	color:#fff !important;
} */
.navbar-static-top {
	background:#092531 ;
	/* url("../img/cj_8d.jpg") */
}
#search {
	float: left;
	padding-top: 10px;
	width: 150px;
}
#search form {
	width: 150px !important;
}
.navbar-brand {
	background: #fff;
}
.navbar-inverse .navbar-nav>li>a
{ 
	color:#8ED4E2 !important ;
}
.navbar-inverse .navbar-nav>li>a:hover
{
	background: #043947;
	color:#fff !important;
}
#pic {
	padding-left:  150px;
}
.navbar-fixed-bottom {height:20px;}
#bottomlogo {background: url("../img/fa.png") bottom right;}