extends ../layout3

block content
 #banner
  ul#menu.menu
   li
    span.ipod_1
    a(href="/index")
     .img
      img(src="img/1.png" title="仙剑人物")
   | 	
   li
    span.ipod_2
    a(href="/gushi")
     .img
      img(src="img/2.png" title="仙剑廿载")
   | 	
   li
    span.ipod_3
    a(href="/yule")
     .img
      img(src="img/3.png" title="仙剑娱乐")
   | 	
   li
    span.ipod_4
    a(href="jingdian")
      img(src="img/4.png" title="仙剑经典")
   | 	
   li
    span.ipod_5
    a(href="liuyan")
      img(src="img/5.png" title="檀越留言")
   | 	
   li
    span.ipod_6
    a(href="http://sc.chinaz.com/")
      img(src="img/6.png" title="关于方丈")
 #loaction 
   ul 
    li 
     a(href="#xian1") 
    li 
     a(href="#xian2") 
    li 
     a(href="#xian3") 
    li 
     a(href="#xian3w") 
    li 
     a(href="#xian4") 
    li 
     a(href="#xian5") 
    li 
     a(href="#xian5q") 
 #banner2
 #xian1 
   .left1 
     span 《仙剑奇侠传》
   .right1 
     span  仙剑奇侠传 
     div  发行时间：1995年7月
     p (同年七月，一代奇才杜三贱降生于世)
     div 创作团队：狂徒工作室
     div 主要角色：李逍遥，赵灵儿，林月如，阿奴
     div 游戏主题：宿命
     div 方丈阁荣誉称号：披荆斩棘，至尊王者。
     p 方丈点评： 路漫如斯，而先行者往矣；情深似绵，而纠结者悔矣。仙一之好坏，无需评判，要知道，没有仙剑一就不会有仙剑系列。仙剑一，是当时的星星之火。而抛却一切，单单就内容而言，仙剑一也无愧经典中的经典。而05年仙剑奇侠传电视剧的播出，也开始让仙剑慢慢的走进人们的视线中。而仙剑一宿命的主题，似乎也给后来的仙剑系列都定下了一个人终不可胜天的基调，不由得令人慨叹不已。
     p 评分等级：★★★★☆

 #xian2 
   .left2 
     span 《仙剑奇侠传二》
   .right2 
     span 仙剑奇侠传二
     div  发行日期：2003年01月27日（中国大陆）
     p (同年一月，杜三贱同学获得新乐官庄帝国小学一年级期末考试XX名)
     div 创作团队：狂徒创作群、DOMO小组
     div 主要角色：王小虎，苏媚，沈欺霜，李忆如
     div 游戏主题：宽恕
     div 方丈阁荣誉称号：不挖坑不舒服斯基人
     p 方丈点评：“狂徒创作群”，这个一手缔造了仙剑世界的传奇团队，最终在仙剑二还未完成的情况下宣布解散。随后狂徒剩余成员和DOMO小组完成了仙剑二。所以，这样看来，这坑也挖的情有可原？反正，贫僧打死也不会再玩仙二了。
     p 评分等级：★★
 #xian3 
   .left3 
     span《仙剑奇侠传三》
   .right1 
     span  仙剑奇侠传三 
     div  发行时间：2003年08月04日（中国大陆）
     p (同年九月，杜三贱同学以优异成绩升入新乐官庄帝国小学二年级)
     div 创作团队：软星科技（上海）有限公司
     div 主要角色：景天，唐雪见，龙葵，紫萱，徐长卿
     div 游戏主题：轮回
     div 方丈阁荣誉称号： 力挽狂澜，无畏霸者。
     p 方丈点评：作为传奇团队上软成立后的第一部仙剑作品，仙三质量上自然属于上乘，而其这么早就上市的一个原因大概是因为仙剑二的反响太过恶劣。可以说，如果仙三没有及时上市，仙剑系列可能会就此毁在仙二的手中，不过即便仙三完美完成救火任务，仙二还有很深的坑要填，长路漫漫，斯人寂寞也。而仙三轮回的主题，也与当时情形颇为应景。
     p 评分等级：★★★★
 #xian3w 
   .left2 
     span 《仙剑奇侠传三外传》
   .right2 
     span 仙剑奇侠传三外传
     div  发行日期：2004年10月28日（中国大陆）
     p (同年九月，杜三贱同学以优异成绩升入新乐官庄帝国小学三年级)
     div 创作团队：软星科技（上海）有限公司
     div 主要角色：南宫煌，温慧，王蓬絮，星璇，雷元戈
     div 游戏主题：问情
     div 方丈阁荣誉称号：琴音不绝，情真若梦。
     p 方丈点评：上软绝对是一个天才群居的团队。在其短短四年的时间里，奉献了三部上乘的仙剑作品，足占了仙剑半壁江山。仙三外以问情为主题，情深至极。可惜老衲并未有机会亲身感受，可三外的歌，我听得最多，也最感动。问情二字，她当得起。
     p 评分等级：★★★★  
 #xian4 
    .left4 
     span《仙剑奇侠传四》
    .right1 
     span  仙剑奇侠传四 
     div  发行日期：2007年08月01日）
     p (同年九月，杜三贱同学以优异成绩升入新乐官庄帝国小学六年级)
     div 创作团队：软星科技（上海）有限公司
     div 主要角色：云天河，韩菱纱，慕容紫英，柳梦璃
     div 游戏主题：寻仙
     div 方丈阁荣誉称号：念念不忘，必有回响。
     p 方丈点评：我对仙剑四有着不同寻常的感情，它是在我最困难的日子里陪伴我悟道的挚友。我足足玩了四遍仙四，每一遍都有不一样的体会。尤其当挚爱之人都匆匆从手边溜走时，无力之感浸满全身，人力微渺之极，令人感伤。以人力求道，终不可及。而仙四作为上软的绝唱，其中夹杂了比以往更多的真情实感。可以说，仙四是最不为赚钱考虑，单单为梦想而生的。而梦想，从来遥不可及，所以，仙四上市一个月后，上软骨干悉数离去，上软解散。辉煌如斯，终无定数。
     p 评分等级：★★★★★
 #xian5
    .left2 
     span 《仙剑奇侠传五》
    .right2 
     span 仙剑奇侠传三外传
     div  发行日期：2011年07月07日
     p (同年四月，杜三贱同学失恋。九月，考入正定大帝国一中，离家远行，至今不返)
     div 创作团队：软星科技（北京）有限公司
     div 主要角色：姜云凡，唐雨柔，龙幽，小蛮
     div 游戏主题：心愿
     div 方丈阁荣誉称号：姚郎才尽，骨气全无。
     p 方丈点评：其实，仙五并没有太差，中规中矩。可能是因为之前仙四做的太好，而人们对北软的期待比之上软过无不及。然而仙五还未上市时，人们却都已经纷纷吐槽姚仙才气全无了。对于贫僧而言，北软的仙剑风格确实有些接受不了。
     p 评分等级：★★★☆  	
 #xian5q 
    .left1 
     span《仙剑奇侠传五前传》
    .right1 
     span  仙剑奇侠传五前传 
     div  发行日期：2013年01月15日
     p (同年四月，杜三贱同学眼疾加重，不治也没大事。)
     div 创作团队：软星科技（上海）有限公司
     div 主要角色：夏侯瑾轩，瑕，姜承，暮菖兰
     div 游戏主题：牵绊
     div 方丈阁荣誉称号：以力服人，以情动人。
     p 方丈点评：自认为，仙剑五前可以排在仙剑系列前三，仙一仙四前二随便。仙五前的游戏逻辑性更强了，人物也更有血性了。界面的优化上也做到了十分的努力。贫僧以为，其中最值得看的，其实是龙溟和凌波的爱情，傲骨无奈，柔情决绝。堪称悲绝之响。其次不得不说的就是谢沧行，他是我见到以后就不会再爱酒剑仙的大叔。
     p 评分等级：★★★★☆ 
 #xian6
      
    script(src="/js/jquery-1.11.0.min.js")
    script(src="/js/gushi.js") 	