extends ../layout_daohang

block content
  #banner
   ul#menu.menu
    li
     span.ipod_1
     a(href="/index")
      .img
       img(src="img/1.png" title="仙剑人物")
    | 	
    li
     span.ipod_2
     a(href="/gushi")
      .img
       img(src="img/2.png" title="仙剑廿载")
    | 	
    li
     span.ipod_3
     a(href="/yule")
      .img
       img(src="img/3.png" title="仙剑娱乐")
    | 	
    li
     span.ipod_4
     a(href="jingdian")
       img(src="img/4.png" title="仙剑经典")
    | 	
    li
     span.ipod_5
     a(href="liuyan")
       img(src="img/5.png" title="檀越留言")
    | 	
    li
     span.ipod_6
     a(href="/fangzhang")
       img(src="img/6.png" title="方丈始末")
  #danshi 
    .page-header 
      h1 第一章：子问归不归 
       small 三贱诞世 
      p  &nbsp;&nbsp;95年的官庄，盛夏的夜总是最热闹的，这一天也不例外，忙碌了一天的人们像是商量好了似的，一个个猴似地爬上自家房顶，看到左右房上已有些人影了，长些的便会客气地打个招呼，询问些琐事，然后在自家房顶找个好位子，或坐或躺，摇着蒲扇，看着满天繁星唠嗑，耳边全是各家孩子在连成一体的房顶上打闹的声音，大人们时不时呵斥两声，却总不很有用。在这个小村子里，夏夜的人们常是以家或族为单位集体行动的，因而时常特别热闹，但最近有一家却是例外，村东头门面正南的杜家已好几日没些动静了，家里的灯多半是灭的。不过，好在这家人的邻居们已上了房唠起磕乘起凉来了，倒显不出这户人家有人无人来了。
      p  &nbsp;&nbsp;“孩他娘，你说军亲(匿名)媳妇怎么样了呢？”老李望着昏暗无光的杜家，笑呵呵问着自己媳妇花舒。花舒把蒲扇使劲地扇了几下，盯着老李头咬牙道：“还能咋样，现在肯定生了呗。再生个大胖小，他杜家可真要翻身喽。”老李头被妻子盯得一哆嗦，欲言又止望着星星发呆，心内却乐开了花：“俺和杜香也算是兄弟一场，这一次他终于遂了自己的愿，又得了个胖孙子。”花舒看老李头嘴上带着笑，这气就不打一处来，将蒲扇照着老李头劈脸扔去，头也不回地下房去了。老李头呵呵一笑，冲儿子努努嘴，也就赶忙下去了。
      p &nbsp;&nbsp;杜家的灯又灭了几天，直到几天后，日头将睡去的傍晚，老李头从屋子里爬出来，正要收拾院子，就听到杜家稀稀疏疏的人声，晓得是他一家人回来了，心内一喜，正要扔了扫帚跑去杜家看看，就看到媳妇花舒的一双虎目圆整，老李头顷刻间泄了气，将扫把一扔，叹口气，朝着杜家喊句：“老嫂子，可是您回来了？”过了不一会儿，一个沉着有力的女人声音就传了回来：“嗯，回来了。近来家里都好吧？”老李头会意，道：“没得差错的，老嫂子，母子可都平安吧？”女人声音里带着笑：“是啊，这二小子足足六斤多重呢。”老李头听了，没得笑出了声：“这可算是遂了我哥的愿了。”&nbsp;&nbsp;“可不是嘛。”
      p &nbsp;&nbsp;老李头还想再说，花舒使劲咳嗽一声，将嗓音提得贼高。老李头只得草草结了尾，捡起扫帚正要接着扫，突然又扔了去，竟回屋了。花舒看了，气也不气，自己捡了扫帚接着扫，嘴里嘟囔着：“也还不一定谁强呢。”
      p &nbsp;&nbsp; 墙那边的女人也晓得李家的破事，拿着刚烧开的热水摇了摇头。仔细一看，这是一户典型的北方农家。院门朝南，进门左拐，就是宽敞的大院子，正面三间房子依次排开，右手边又新盖起一间朝西开的大偏房，这是杜香和耿兰给他们儿子军亲结婚时盖的新屋子。偏房和正面三间房并没紧贴在一起，中间闪出了三米的空间，用来盛放乱七八糟的家伙事，耿兰此时就站在这里，端着热水往西房去了。
      p &nbsp;&nbsp; 西房外面布局简单，里面倒是别有洞天，洋灯洋柜一应俱全，杜香和耿兰奋斗半生，也算有些积蓄，更兼就这一个儿子，自然对他的亲事尽心尽力，耿兰想着事，大步走到靠窗的床前，将热水放在桌上，就坐在一个摇篮前，看着里面的娃。笑得合不拢嘴。这是她的第二个孙子，她怎能不高兴呢，自己数个孩子都作夭折，只留下一子，如今一子诞二子，她也终于敢想一想这本不敢想的未来。耿兰紧张地将手擦一擦，轻轻地将这孩子抱起：“二，你可认得奶奶吗？”
      h1 第二章：死中幸得生
       small  大难得福
      p  &nbsp;&nbsp;1998年的异常普通的一天，三岁的杜三贱跟着大孩子们在街上跑来跑去，突然一个大孩子回来推了杜三贱一把，这一推本不要紧，然而，杜三贱就这样奇怪的趴在地上，怎么也站不起来了。待续
      h1 第三章：究是谁人错
       small  致命转折 
      p  &nbsp;&nbsp;2002年十月，杜家最终还是发生了一件大事，杜三贱的祖父杜香去世了。至于杜香是怎么死的，谁也不清楚，八岁的杜三贱对杜香的死并没有太多感触，只是随着哥哥跪在灵前，脑子里却想着厨房里过事剩下的好吃好喝的，有时甚至还庆幸以后终于不会有人再打自己了。他从没有想过，也从没有想到，他祖父杜香的死，因在十年之前，果在二十年之后。 
      p  &nbsp;&nbsp; 现在的杜家，又走了一个人，只剩下耿兰和军亲媳妇和三贱兄弟，成了一个五口之家。如今家里的顶梁柱走了，虽然杜香的死给他们带来了十七万的赔偿款，可耿兰心里不知是有多难受，她心里藏着事，没有对儿子儿媳说，一夜一夜地翻来覆去，回想着之前的种种事，仇恨和懊悔遍布全身。杜香走之前的一个星期，儿子儿媳正跟他闹别扭呢。耿兰悔啊，悔为什么当时就那么让他走了，现在她回想着，想着当时老头子可能就是不打算回来了。可当他走的时候，儿子儿媳连一句招呼也没打。至于杜香是因去了以后的事而死还是因这十年来的孽而死，耿兰也想不明白。杜香死了以后，耿兰就真的跟丢了魂似的，每日精神混沌，连黑白都认不得了，每天只是将簸箕倒来倒去。军亲虽然憨厚老实，但眼见着耿兰这个模样，也是心中懊恼，正看到面前有耿兰供奉的老母奶奶像，气极败坏地一推，骂道：“你们就这样保着我娘的？”此时的耿兰已起身慢慢走出去了。杜军亲心里有苦说不出，只是忍着泪，想起来父亲死讯传来那天的那个早晨，他梦见父亲满脸忧愁地走进家门，对自己说：“儿，爹走了，你记得多要些钱啊。”
      p  &nbsp;&nbsp;不过，杜家虽然难过，可两个孩子并不十分晓得其中艰辛。杜三贱和大他三岁的兄长杜威每日一起上学下学，倒也其乐融融。几个月后，耿兰恢复些正常，军亲夫妇才敢带着杜威去他干娘那里。耿兰倒不在意，露着笑送三人走了，可这却火了一直跟着哥哥的杜三贱，他看着三人慢慢远去，突然疯似的追过去，耿兰担心，也忙追了上去。可他一个小孩怎么追得上自行车，没法，气急败坏的杜三贱哭着骂爹骂娘的跑回家，把门反锁了，嚷嚷着要烧房子。耿兰着急地追了回去，手里攥着的火柴硬生生地着了火，随手扔了，跑到门前，发现门已是锁了，耿兰此时急得火上蚂蚁一般，赶忙跑到如今无人的李家墙前，一个冲刺竟跃了上去，顺着李家梯子回了家，胆战心惊地往屋里跑，看到三贱手里拿着电视遥控正趴在床上哭，一颗悬着的心噗嗤就落下来了。可她抬头一看，发现床对面的电视机上的遮布不知为何地竟着了火，耿兰忙扑灭了去，回头看看三贱手里的遥控器，有种逃脱大祸的感觉。哄了会儿三贱，领着他买吃的去了。 
      h1 第四章：少年起沧澜
       small  遇见那人 
      p  &nbsp;&nbsp; 2009年的冬天，杜威终于摆脱了杜三贱同学的纠缠，如愿以偿的当兵去了。而在杜威走前的一个月，正是河北那场五十年不遇的大雪，下了整整七日。初离开杜威的杜三贱着实有些不适应，心里难受了好长一段时间，十五岁的杜三贱还傻傻地卖着萌，十六岁的杜三贱已傻傻地装起了X，半年之后，适应了离别之苦的他终于耐不住自己内心的冲动，喜欢上了同班的一个女生。他在QQ上向她说着自己大到没有边界的理想，说着自己内心的忧愁感伤。女孩也都默默听着。每周放假，他和她总有说不完的话题，从那以后，他每天都想着她，和她在班里也说的多，玩得多了，终于有一天，三贱同志在QQ上跟女孩告了白。女孩没有说别的，只嗯了一句。三贱乐开了花，虽然他知道，女孩心里一直有另一个人，可他贱嘛。后来等他知道女孩对小姑说自己现在只想和他好好的时候，他竟开心地跑到门前，不知所措，虽然所有人都说，女孩是配不上他的。可如今的他又怎会介意呢，即便女孩那么随便，他也还是喜欢她，只是让他没想到的是，这一喜欢，就是七年的债。正应了他后来再遇到女孩的时候随口说出的那句话："你这一人一念，费我一生相思"。
       p  &nbsp;&nbsp;此时的杜家，杜威已走了半年，军亲夫妇也眼看着两个孩子都长大了，只好出去打工了，只留下耿兰带着杜三贱，而杜三贱又是住校的，虽然学校就在本村，可也只是一周回来一次。此时的耿兰比之前老了许多，心境上也平和了许多，她心里依然藏着事，却从没跟自己这个二孙子说过，她现在每日盼着老二回来，像盼星星一样殷切。 
       p  &nbsp;&nbsp;然而，此时的杜三贱心属他人，脾气也暴躁了许多。每天竟然不学习，惹事打架，耿兰因为这事去了学校好几趟，军亲夫妇在外地听说了，也是没心思做活。还好，这样的杜三贱只持续了几个月。
       p  &nbsp;&nbsp; 11年开春，杜三贱开始好好学习了，成绩升得如有神助。可这带来的结果是他和女孩的裂痕加剧了。杜三贱每日废寝忘食地学习，或多或少地忽视了女孩，女孩在日记里流露出的埋怨和理解，并不能让杜三贱感到慰藉。十七岁的他竟然觉得心累了。终于有一天，他鬼迷心窍地给了女孩一封信，信中写满了道貌岸然的兄妹情，让人看了不觉尴尬。这天中午，他故意回去了。想通了以后，将家里他和女孩的小东西们带了来，女孩本耷着脸，也没说什么话，三贱会心一笑，走到女孩座位旁，坐了下来，将书包里的小东西一个个翻了出来，女孩看了，噗嗤一声就笑了。杜三贱心内高兴，以为事情就此结束，对，是该结束了。
       p  &nbsp;&nbsp; 这天以后，杜三贱与女孩时吵时闹，可杜三贱始终是爱着人家的，然而，人家似乎已是不想爱他了。终于有一天，女孩给了他一张纸条，笑着说回去看。杜三贱哪里晓得会是噩耗，还美滋滋地藏在口袋里，等到晚上回去看时，才发现是分手的话，顿时泄了气一样，躲在被窝里哭了一夜。后来他又去纠缠了女孩好几次，终没有什么结果，也就晓得她到底为谁了。从此视女孩如眼中钉，恨不得吃了她去。而与此相对的利好是，没了女孩的杜三贱将十成功力全部用在学习上，一跃成了年级前三，让老师们吹的不能再吹了。可惜中考没考好，凑合着去了正定一中，这年暑假毕业聚会上，他和女孩又见了一面，三个男人要追女孩，女孩都没答应，喝醉了酒，在路上晃荡，他就跟在后面，没话说。他不知道女孩心里到底还有没有他，只是他不可能再说爱你的话了。过了会儿，女孩父亲骑着电动车来了，瞪了他一眼，带上失落的女孩走了。那天之后，杜三贱又见了女孩一面，再之后，四年未见，本来不会再见了，谁想造化弄人呢。  
      h1 第五章：移情是仙剑
       small  情伤难愈
      p  &nbsp;&nbsp; 失恋后的杜三贱学习的时候并不觉得多难受，可中考一结束，这可悬着的心沉在地上，被时间拼命地摩擦。官庄的初夏还是那么热，杜三贱躺在席梦思床上，听着院里杨树上的知了叫个不停，回忆着和女孩的十个月，心里莫名地涌出无限痛楚来。突然，一声响，杜三贱突然回过神来，一个跃身来到电脑前，盯着屏幕显示的“安装完成”，满心欢喜地点了“运行游戏”。 
      p  &nbsp;&nbsp;  这是他再一次玩仙剑四了，第一次玩是去年暑假，那时候他和女孩还情意绵绵，所以肆无忌惮地嘲笑着仙剑四里面的主角。而短短一年，苍山负雪，浮生尽歇。他也成了孤家寡人，又一次，他又一次进入了那个仙剑世界，随着天河菱纱四人看遍人间冷暖，竟有了不同以往的体会。却也喊出我命在我不在天的可笑言语。
      p  &nbsp;&nbsp;  一个月后，杜三贱和奶奶耿兰离开了生活了十七年的家，去到了正定，和父母一起生活。那一天，他天真地捉了八只蜗牛放在瓶子里带去，以为这样就可留住故家的土。可惜的是，蜗牛憋在封闭的瓶子里，第二日便死绝了。他也没想到，离开以后，再回去，竟是那般艰难。 
      h1 第六章：离家求学去
        small 寄人篱下  
      p  &nbsp;&nbsp; 寄人篱下的滋味是很让人难过的，只是当时的杜三贱并没有体会到这一点，他丝毫没意识到世态炎凉在这个社会中黄金法则的地位，因而住在姨奶奶家的宽敞楼房中，每日豪情壮志不绝于耳。军亲夫妇在他姨奶奶家做着活，因为杜三贱就要上高中的原因，并不会把太埋怨的话带回家来，总是笑着，笑着。耿兰也觉得日子会越来越好过。8月末，杜三贱带着所谓的豪情壮志去了正定一中，那个他将要生活三年，却不会有任何波澜的地方，不，他在那里，也遇到了一个值得他思念一辈子的女孩。
       p  &nbsp;&nbsp; 刚入学总是生疏不断的，杜三贱又是外县来的，虽然碰到了个初中同学，但除此之外，很难再见到熟悉的面孔了。他只好抱着课本在教室里看书，不过军训完了以后，杜三贱已有了两个要好的朋友，他们可谓是形影不离。 不过，杜三贱是有雄才大志的人。他每日学习，学习，学习，不断地学习，至于到底为了什么，是兴趣多一些，还是赌气多一些，他也说不太清。 
       p  &nbsp;&nbsp; 然后，第一次月考，他考了年级23，很高兴，他没想到这个所谓的正定一中会是个如此不入流的高中，以至于让他这种菜鸟也占得一席之地。再然后，期中考，他考了年级第二，更高兴，走路都是横着走的，班里的同学和老师也都对他相敬如宾，他第一认识到了在学校里，分数决定了地位，心里滋味百般，并没有太高兴。
       p  &nbsp;&nbsp; 不过，在这个班里，他最后记得的，只有几个女生，而其中一个每天坐在最后排，他并不能经常看到的高个女孩，总给他一种非常熟悉的感觉。三年以后的杜三贱方才想透，自己初中写在千纸鹤上的那本小小说中，曾描绘过和这个女孩十分相像的女子，那个女子的名字，叫清蓉，取自“清水出芙蓉”之意，而杜三贱当时花费了半年写在999个千纸鹤上的小说，正是要送给那个他以为最爱他的她。
       p  &nbsp;&nbsp;  然而，此时的杜三贱并没有意识到这个女孩就是他前方百计努力描绘寻找的灵感源泉，毕竟高中的杜三贱虽然文学细胞尚在，但还是抱着理工决定天下的想法，钻研着物化生，当然，他的历地政也名列前茅，他总相信这句话：全才即全才。后来，当他看着电脑敲不出“Hello World”时，他才不得不承认：“全才即不才”。不过，17岁的杜三贱哪里想到过那么久远的未来，这个只去到过正定县的农民儿子如今只有一个念想：“考个第一名。” 而几天后，杜威也服役归来，兄弟二人算是团聚了。此时的杜威比以前更挺拔强壮了。
       h1 第七章：一鸣便惊人
         small 初露锋芒 
        p  &nbsp;&nbsp;  杜三贱果然说到做到，高一分班考试，他果然考了个年级第一，对别人来说，似乎是很值得夸耀的事，但在杜三贱看来，这一切，都是他理所应得的。他很聪明，很努力，为什么做不到呢。看吧，这不是做到了吗？那时候的杜三贱冷酷，执拗，倔强，也决绝的可怕。而这样的杜三贱本会是个棘手的敌人，可惜，天不与共，偏要拉你下水。杜三贱以总分年级第一的分数分到了二班，然而就在两个月后，眼疾第一次找上了他，从此纠缠不清，辜负多少野心。
        p  &nbsp;&nbsp; 高中的生活对杜三贱来说是最说出好坏来的，毕竟这三年除了学习还是学习，每次考试也都在年级前十里面，只是随着时间的推移，他内心里的波澜依然荡漾不清，只是再没有人能够听他诉说那本不是故事的故事了。 
        p  &nbsp;&nbsp;  学习，学习，学习，有时候，他还是能遇到那个以后会给他无限灵感的女孩，女孩很高很清秀，每次见面也总会亲切地打招呼，只可惜杜三贱从不是怜香惜玉之人，只是微微点一点头，赶忙做着自己的事了。这一春一夏，又过半个春秋。
        h1 第八章：苦读寒灯下
         small 加冠称字
        p  &nbsp;&nbsp;  2013年的秋天，杜三贱的语文老师正要他们根据“赤兔之死”那篇满分的高考作文，写一篇类似的文章。古文向来是杜三贱所爱，所以一听说这消息，竟废寝忘食，作业不做，一天天地在座位上构思人物，毕竟，这是他想要为自己写的宏伟蓝图。可惜写了好几日，删了写，写了删，总不尽意，也算是天公作美，一天夜里，杜三贱蹭得从床上蹦起来，慌忙下床拿来纸笔，随手挥就：“贱者，奸人妻而不发，取人财而不坐，杀人命而不偿，故为三贱也。”
        p  &nbsp;&nbsp; 自此，三贱加冠称字，后又立号方丈遗少，于是世以方丈遗少杜三贱称之。而杜三贱深夜提笔书三贱的趣谈想必百年之后也当流传世间了。这且不提。






    script(src="/js/jquery-1.11.0.min.js")
    script(src="/js/gushi.js") 	