extends ../layout3

block content
 #banner
  ul#menu.menu
   li
    span.ipod_1
    a(href="/index")
     .img
      img(src="img/1.png" title="仙剑人物")
   | 	
   li
    span.ipod_2
    a(href="/gushi")
     .img
      img(src="img/2.png" title="仙剑廿载")
   | 	
   li
    span.ipod_3
    a(href="/yule")
     .img
      img(src="img/3.png" title="仙剑娱乐")
   | 	
   li
    span.ipod_4
    a(href="jingdian")
      img(src="img/4.png" title="仙剑经典")
   | 	
   li
    span.ipod_5
    a(href="liuyan")
      img(src="img/5.png" title="檀越留言")
   | 	
   li
    span.ipod_6
    a(href="http://sc.chinaz.com/")
      img(src="img/6.png" title="关于方丈")
 #loaction 
   ul 
    li 
     a(href="#xian1") 
    li 
     a(href="#xian2") 
    li 
     a(href="#xian3") 
    li 
     a(href="#xian3w") 
    li 
     a(href="#xian4") 
    li 
     a(href="#xian5") 
    li 
     a(href="#xian5q") 
 #banner2
 #xian1
 #xian2
 #xian3
 #xian3w
 #xian4
 #xian5
 #xian5q
 #xian6
      
    script(src="/js/jquery-1.11.0.min.js")
    script(src="/js/gushi.js") 	