extends ../layout_sign

block content 
  .container
    link(href="/css/sign.css" rel="stylesheet")
    #sign 
     span  
      a(href="/fangzhang")  
       img(src="/img/fa.png") 
     span 用户登陆 
     span.xiaogushi  告诉你个小秘密，浏览本网站的最佳分辨率是1366*768 ————何龙溪
    .row
      .col-md-5
        form(method="POST", action="/user/signin")
          .modal-body
            .form-group
              label#demo(for="signinName") 用户名
              input#signinName.form-control(name="user[name]", type="text",placeholder="请输入用户名") 
              span#seename 
               a(href="/fangzhang",title="好吧，杜三贱是挺强的") 例：fzys123    
              span#result
            .form-group
              label(for="signinPassword") 密码
              input#signinPassword.form-control(name="user[password]", type="password",placeholder="请输入密码")
              span#seepassword
               a(title="鼠标移到上面显示密码") 显示密码
              span#result1
          .modal-footer 
            a(href="/index" style ="color:green;") 不登陆，浏览网站|
            a(href="/signup" style ="color:red;") 还没账号？来这注册  
            button.btn.btn-default(type="reset", data-dismiss="modal") 重置
            button.btn.btn-success#submit(type="submit",disabled="true") 提交
   .col-md-4  
     span#xian4
      img(src="img/b1.jpg") 
    span.xiaogushi 在仙剑奇侠传四的结尾，曾有梦璃在菱纱墓前悲伤地抚摸望舒剑的一幕，那么，菱纱到底死了没死？<br/>
     span.xiaogushi  A.死了<br/>
     span.xiaogushi  B.没死<br/>
     span.xiaogushi  C.不清楚 <br/>
     span.xiaogushi  D.杜三贱晓得<br/> 

  //- script(src="js/daohang.js")
  script(src="/js/signin.js")
