doctype
html
 head
   meta(charset="utf-8")
   meta(charset="UTF-8")
   meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
   link(href="./img/fa.ico", rel="shortcut icon")
   title #{title}
   include ./includes/head
   body.demo-1.loading
     link(href="./css/gushi.css" rel="stylesheet")
     block content