doctype
html
 head
   meta(charset="utf-8")
   meta(charset="UTF-8")
   meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
   title #{title}
   include ./includes/head
   body.demo-1.loading
     link(href="./css/style.css" rel="stylesheet")
     link(href="./css/index.css" rel="stylesheet")
     include ./includes/header
     include ./includes/daohang
     block content